services:   
    postgres:
        container_name: ds_postgres
        image: postgres
        restart: always
        environment:
            POSTGRES_DB: directory_service_db
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
        ports:
            - "5434:5432"
        volumes:
            - postgres-data:/var/lib/postgresql/data
    seq:
        image: datalust/seq:latest
        container_name: ds_seq
        restart: always
        environment:
            - ACCEPT_EULA=Y
            - SEQ_FIRSTRUN_ADMINPASSWORD=12345
        ports:
            - "5341:80"
            - "5342:5341"
    webapi:
        build:
            context: .
            dockerfile: Dockerfile
        image: webapi
        container_name: ds_webapi
        ports:
            - "8080:8080"
        depends_on:
            - postgres
            - seq
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=directory_service_db;Username=postgres;Password=postgres
        restart: unless-stopped

volumes:
    postgres-data: